<a href="https://colab.research.google.com/github/CHRSousa/estudoPythonJupiterNotebook/blob/master/Criando_Novas_Vari%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análised VI

## Criando novas variáveis

In [28]:
import pandas as pd

In [29]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [30]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [31]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [32]:
dados.head(10)

                      Tipo           Bairro  ...    IPTU  Valor Bruto
0                Quitinete       Copacabana  ...    60.0       2260.0
1                     Casa  Jardim Botânico  ...     NaN          NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...  1111.0      10331.0
3              Apartamento           Centro  ...    20.0       1210.0
4              Apartamento     Higienópolis  ...     NaN          NaN
5              Apartamento     Vista Alegre  ...     NaN          NaN
6              Apartamento         Cachambi  ...    17.0       1618.0
7       Casa de Condomínio  Barra da Tijuca  ...     NaN          NaN
8       Casa de Condomínio            Ramos  ...     NaN          NaN
9  Conjunto Comercial/Sala           Centro  ...  3030.0      57223.0

[10 rows x 10 columns]

In [33]:
dados['Valor m2'] = (dados['Valor'] / dados['Area']).round(2)

In [34]:
dados.head(10)

                      Tipo           Bairro  ...  Valor Bruto  Valor m2
0                Quitinete       Copacabana  ...       2260.0     42.50
1                     Casa  Jardim Botânico  ...          NaN     70.00
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      10331.0     34.67
3              Apartamento           Centro  ...       1210.0     53.33
4              Apartamento     Higienópolis  ...          NaN     16.67
5              Apartamento     Vista Alegre  ...          NaN     17.14
6              Apartamento         Cachambi  ...       1618.0     26.00
7       Casa de Condomínio  Barra da Tijuca  ...          NaN     29.33
8       Casa de Condomínio            Ramos  ...          NaN     15.38
9  Conjunto Comercial/Sala           Centro  ...      57223.0     50.36

[10 rows x 11 columns]

In [35]:
dados['Valor m2 Bruto'] = (dados['Valor Bruto'] / dados['Area']).round(2)

In [36]:
dados.head(10)

                      Tipo           Bairro  ...  Valor m2  Valor m2 Bruto
0                Quitinete       Copacabana  ...     42.50           56.50
1                     Casa  Jardim Botânico  ...     70.00             NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...     34.67           68.87
3              Apartamento           Centro  ...     53.33           80.67
4              Apartamento     Higienópolis  ...     16.67             NaN
5              Apartamento     Vista Alegre  ...     17.14             NaN
6              Apartamento         Cachambi  ...     26.00           32.36
7       Casa de Condomínio  Barra da Tijuca  ...     29.33             NaN
8       Casa de Condomínio            Ramos  ...     15.38             NaN
9  Conjunto Comercial/Sala           Centro  ...     50.36           82.34

[10 rows x 12 columns]

In [37]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [38]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [39]:
dados

                          Tipo  ... Tipo Agregado
0                    Quitinete  ...   Apartamento
1                         Casa  ...          Casa
2      Conjunto Comercial/Sala  ...   Apartamento
3                  Apartamento  ...   Apartamento
4                  Apartamento  ...   Apartamento
...                        ...  ...           ...
32955                Quitinete  ...   Apartamento
32956              Apartamento  ...   Apartamento
32957              Apartamento  ...   Apartamento
32958              Apartamento  ...   Apartamento
32959  Conjunto Comercial/Sala  ...   Apartamento

[32960 rows x 13 columns]

## Excluindo Variáveis

In [40]:
dados.drop(['Valor m2 Bruto', 'Valor m2'], axis = 1, inplace = True)

In [41]:
dados.head(10)

                      Tipo           Bairro  ...  Valor Bruto  Tipo Agregado
0                Quitinete       Copacabana  ...       2260.0    Apartamento
1                     Casa  Jardim Botânico  ...          NaN           Casa
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      10331.0    Apartamento
3              Apartamento           Centro  ...       1210.0    Apartamento
4              Apartamento     Higienópolis  ...          NaN    Apartamento
5              Apartamento     Vista Alegre  ...          NaN    Apartamento
6              Apartamento         Cachambi  ...       1618.0    Apartamento
7       Casa de Condomínio  Barra da Tijuca  ...          NaN           Casa
8       Casa de Condomínio            Ramos  ...          NaN           Casa
9  Conjunto Comercial/Sala           Centro  ...      57223.0    Apartamento

[10 rows x 11 columns]

# Relatório de Análise VII

## Criando Agrupamentos

In [42]:
dados['Valor'].mean()

12952.659715265761

In [43]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Tijuca']

In [44]:
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [45]:
dados['Bairro'].drop_duplicates()

0          Copacabana
2     Barra da Tijuca
16           Botafogo
21             Tijuca
25             Leblon
27            Ipanema
Name: Bairro, dtype: object

In [46]:
dados['Valor'].mean()

8894.286343889693

In [47]:
grupo_bairro = dados.groupby('Bairro')

In [48]:
for bairro, dados in grupo_bairro:
  print(bairro)

Barra da Tijuca
Botafogo
Copacabana
Ipanema
Leblon
Tijuca

In [53]:
for bairro, data in grupo_bairro:
  print('{} -> {}'.format(bairro, round(data.Valor.mean(),2)))

Barra da Tijuca -> 9019.59
Botafogo -> 19517.04
Copacabana -> 4509.83
Ipanema -> 10456.52
Leblon -> 11052.35
Tijuca -> 2954.67

In [54]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                    Valor  Condominio
Bairro
Barra da Tijuca   9019.59     3599.17
Botafogo         19517.04     3296.48
Copacabana        4509.83     1211.94
Ipanema          10456.52     2360.60
Leblon           11052.35     2290.44
Tijuca            2954.67      854.95

## Estatísticas Descritivas

In [56]:
grupo_bairro['Valor'].describe().round(2)

                  count      mean        std  ...     50%      75%        max
Bairro                                        ...
Barra da Tijuca  6256.0   9019.59   30192.24  ...  3500.0   8000.0   738197.0
Botafogo         1372.0  19517.04  129131.61  ...  4000.0  11000.0  4500000.0
Copacabana       3185.0   4509.83    6413.41  ...  3000.0   4900.0   198000.0
Ipanema          2233.0  10456.52   20859.22  ...  7000.0  12000.0   800000.0
Leblon           1478.0  11052.35   20707.09  ...  7000.0  11900.0   430000.0
Tijuca           1359.0   2954.67    7979.73  ...  1800.0   2499.5   230000.0

[6 rows x 8 columns]

In [57]:
grupo_bairro['Valor'].aggregate(['min','max','sum']).rename(columns = {'min':'Mínimo', 'max':'Máximo'})

                 Mínimo     Máximo         sum
Bairro
Barra da Tijuca   100.0   738197.0  56426579.0
Botafogo          299.0  4500000.0  26777376.0
Copacabana        100.0   198000.0  14363823.0
Ipanema           100.0   800000.0  23349404.0
Leblon            100.0   430000.0  16335366.0
Tijuca            320.0   230000.0   4015402.0