# Exercícios

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista = ["sala", "quarto", "cozinha", 20, 2.5]
print(lista)

['sala', 'quarto', 'cozinha', 20, 2.5]

In [3]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1 = "O Vozão "
str2 = "será campeão!"
str3 = str1 + str2
print(str3)

O Vozão será campeão!

In [4]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tp1 = (1, 2, 2, 3, 4, 4, 4, 5)
print("O número 4 aparece", tp1.count(4), "vezes na tupla")

O número 4 aparece 3 vezes na tupla

In [5]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict1 = {1:"abacaxi", 2:"limão", 3:"maça"}
print(dict1)

{1: 'abacaxi', 2: 'limão', 3: 'maça'}

In [6]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dict1[4] = "banana"
print(dict1)

{1: 'abacaxi', 2: 'limão', 3: 'maça', 4: 'banana'}

In [22]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
arq1 = open("nomes.txt", "w")
arq1.write("Carlos, José, João, Francisco, Pedro, Paulo")
arq1.close()

In [23]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
arq1 = open("nomes.txt", "r")
arq1.read()

'Carlos, José, João, Francisco, Pedro, Paulo'

In [24]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dict1 = {}
print(dict1)

{}

In [26]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "https://raw.githubusercontent.com/dsacademybr/PythonFundamentos/master/JupyterNotebooks/Cap%C3%ADtulo02/binary.csv"
df = pd.read_csv(file_name)
df.tail()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4